html { font-size: 12pt; }

body {
	color: white;
	font-family: monospace;
}

.title-fancy {
	font-size: 40pt;
	font-weight: bolder;
	text-align: center;
	animation-name: animate-text;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

input {
	width: 100%;
	padding: 0.5em;
	font-family: monospace;
	font-size: 12pt;
	margin-top: 5pt;
	border: 2px solid black;
	border-radius: 4px;
}

.title-box {
	padding: none;
	align: center;
	border: 5px solid white;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.link-section {
	display: flex;
	justify-content: space-between;
	font-size: 20pt;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-style: bold;
	max-width: 900px;
	margin: auto;
	margin-top: 1em;
	height: auto;
	border: 5px solid white;
	border-radius: 3px;
	backdrop-filter: blur(8px);
}

.content {
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-style: bold;
	max-width: 900px;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	height: auto;
	border: 5px solid white;
	border-radius: 3px;
	backdrop-filter: blur(8px);
}

.inner-content {
	font-size: 12pt;
	padding: 1em;
}

.movie {
	height: auto;
	width: 100%;
	overflow: hidden;
}

.poster-description-parent {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 70% auto;
	grid-gap: 1em;
	height: auto;
}

.poster {
    object-fit: contain;
}

.description {
	padding-right: 1em;
}

img {
	width: 100%;
	object-fit: contain;
}

p {
	padding-bottom: 1em;
	margin-left: 2em;
}

a:visited, a:active, a:link {
	text-decoration: none;
	color: #AAAAAA;
}

.lower-segment {
	margin-top: 2em;
}

@keyframes animate-text {
	0% {}
	50% {
		filter: blur(1px);
	}
	100% {}
}
