<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
            crossorigin="anonymous">

            
        <title>{% block title %}Rarefilmm Recommender{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home" href="/home">Home</a>
                    <a class="nav-item nav-link" id="info" href="/info">Project information</a>
                    <a class="nav-item nav-link" id="github" href="https://github.com/five-over-four/rarefilmm-scraping">Github</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
    {% block more %}
    {% endblock %}
</html>