{% extends 'base.html' %}
{% block title %}
Rarefilmm Recommender
{% endblock %}
{% block content %}
<link rel="stylesheet" type = text/css href = "{{ url_for('static', filename='style.css') }}">
<style type=text/css>
body {
    background-image: url({{ random_background }})
}
</style>
<div class="content">
<div class="title-box">
    <div class="title-fancy">Rarefilmm Recommender</div>
</div>

<div class="inner-content">

    {% autoescape false %}
    {{ display_html }}
    {% endautoescape %}

    <div class="lower-segment">
        <form method = "POST">
            <div class="search-bar">
                <label for="movies">Get a recommendation!</label>
                <input 
                    type="movies" 
                    class="form-control" 
                    id="movies" 
                    name="movies" 
                    placeholder="Enter a movie you'd like to get recommendations based on.">
            </div>
        </form>
    </div>

</div>

<br>
(Refresh page to change background poster)
</div>

{% endblock %}
